* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 29);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
}
.background div {
  width: 0.2rem;
  height: 1rem;
  background-color: rgb(228, 228, 228);
  border-radius: 50%;
  box-shadow: 0 0 5px white;
  position: relative;
}
/* animation */
.background div:nth-child(n) {
  animation-name: move-one;
  animation-iteration-count: infinite;
  animation-duration: 5s;
}
@keyframes move-one {
  from {
    top: 0;
  }
  to {
    top: 43rem;
    background-color: rgb(0, 0, 29);
    box-shadow: 0 0 5px rgb(0, 0, 29);
  }
}
.background div:nth-child(2n) {
  animation-name: move-two;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;
  animation-delay: -0.2s;
}
@keyframes move-two {
  from {
    top: 0;
  }
  to {
    top: 43rem;
    background-color: rgb(0, 0, 29);
    box-shadow: 0 0 5px rgb(0, 0, 29);
  }
}
.background div:nth-child(3n) {
  animation-name: move-three;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-delay: -0.4s;
}
@keyframes move-three {
  from {
    top: 0;
  }
  to {
    top: 43rem;
    background-color: rgb(0, 0, 29);
    box-shadow: 0 0 5px rgb(0, 0, 29);
  }
}
.background div:nth-child(4n) {
  animation-name: move-four;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-delay: -0.6s;
}
@keyframes move-four {
  from {
    top: 0;
  }
  to {
    top: 43rem;
    background-color: rgb(0, 0, 29);
    box-shadow: 0 0 5px rgb(0, 0, 29);
  }
}
.background div:nth-child(5n) {
  animation-name: move-five;
  animation-iteration-count: infinite;
  animation-duration: 3.5s;
  animation-delay: -0.8s;
}
@keyframes move-five {
  from {
    top: 0;
  }
  to {
    top: 43rem;
    background-color: rgb(0, 0, 29);
    box-shadow: 0 0 5px rgb(0, 0, 29);
  }
}
.background div:nth-child(6n) {
  animation-name: move-six;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-delay: -1s;
}
@keyframes move-six {
  from {
    top: 0;
  }
  to {
    top: 43rem;
    background-color: rgb(0, 0, 29);
    box-shadow: 0 0 5px rgb(0, 0, 29);
  }
}
.background div:nth-child(7n) {
  animation-name: move-seven;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;
  animation-delay: -1.2s;
}
@keyframes move-seven {
  from {
    top: 0;
  }
  to {
    top: 43rem;
    background-color: rgb(0, 0, 29);
    box-shadow: 0 0 5px rgb(0, 0, 29);
  }
}
.background div:nth-child(8n) {
  animation-name: move-eight;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-delay: -1.4s;
}
@keyframes move-eight {
  from {
    top: 0;
  }
  to {
    top: 43rem;
    background-color: rgb(0, 0, 29);
    box-shadow: 0 0 5px rgb(0, 0, 29);
  }
}
.background div:nth-child(9n) {
  animation-name: move-nine;
  animation-iteration-count: infinite;
  animation-duration: 2.5s;
  animation-delay: -1.6s;
}
@keyframes move-nine {
  from {
    top: 0;
  }
  to {
    top: 43rem;
    background-color: rgb(0, 0, 29);
    box-shadow: 0 0 5px rgb(0, 0, 29);
  }
}
.background div:nth-child(10n) {
  animation-name: move-ten;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-delay: -1.8s;
}
@keyframes move-ten {
  from {
    top: 0;
  }
  to {
    top: 43rem;
    background-color: rgb(0, 0, 29);
    box-shadow: 0 0 5px rgb(0, 0, 29);
  }
}
/* menu */
.menu {
  width: 10rem;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(223, 100, 0);
  border-radius: 50%;
  box-shadow: 0 0 15px rgb(173, 173, 173);
  position: relative;
}
.menu div {
  width: 5rem;
  height: 0.6rem;
  background-color: rgb(197, 197, 197);
  border-radius: 2rem;
  transition: 0.25s;
}
/* first menu */
.first:hover .top {
  transform: rotate(-0.1turn);
  position: relative;
  top: 1.7rem;
  left: -0.9rem;
  width: 3.5rem;
}
.first:hover .middle {
  position: relative;
}
.first:hover .bottom {
  transform: rotate(0.1turn);
  position: relative;
  top: -1.7rem;
  left: -0.9rem;
  width: 3.5rem;
}
/* second menu */
